.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.pg-loading-logo{
  max-width: 800px;
}

.vinfo {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: monospace;
  margin: 5px;
}

#focused-info{
  position: fixed;
  bottom: 0;
  right: -500px;
  width: 500px;
  height: 100%;
  background-color: #24292b;
  cursor: default;
}

.focused-content {
  padding: 100px 40px;
  color: #f8f9fa;
  font-size: 21px;
}

.focused-content a {
  color: #f8f9fa !important;
}

#focused-cta{
  position: fixed;
  top: 50px;
  right: 50px;
  width: 100%;
  margin: auto;
  text-align: right;
}

#focused_waveform_state{
  display: none;
  width: 75px;
  margin: auto;
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
  user-select: none;
}

#focused_waveforms{
  width: 350px;
}


.btn-ultra-light{
  color: #212529;
  background-color: #f8f9fa33;
  border-color: #f8f9fa;
}

.btn-round-bright{
  color: #212529 !important;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
  border-radius: 32px !important;
  width: 64px !important;
}


.btn-light{
  color: #212529;
  background-color: #f8f9fa;
  border-color: #a8a9aa;
}

.btn-copper{
  color: #eee;
  background-color: #b97941;
  border-color: #f8f9fa;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .pg-loading-logo{
    max-width: 100%;
  }

  .sk-three-bounce {
    margin: -20px auto;
    width: 60px;
    transform: scale(0.6) rotate(-90deg);
  }

  .sk-three-bounce .sk-bounce1{
    width: 60px;
    height: 60px;
  }


  .sk-three-bounce .sk-bounce2{
    margin-left: -10px;
  }


  .sk-three-bounce .sk-bounce3{
    margin-left: 30px;
  }
}

.sk-three-bounce {
  margin: 0px auto;
}

.pg-loading-screen .pg-loading-html{
  margin: 0;
}

#main-inner-choice {
  display: none;
  width: 100%;
  align-self: center;
  z-index: 4;
}

#quality-choice {
  color: #b97941;
}

#quality-choice-best {
    font-weight: 300;
}

/* head, html and body */
html, body {
  height: 100%;
  margin: 0;
  background: #b5ced5;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

div, button:focus {
  outline:none;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a,
a:visited {
  /*letter-spacing: 1px;*/
    text-decoration: none;
    color: #f6f7d9;
}

a:hover {
    text-decoration: underline;
    color: #b97941;
}

a:active {
    text-decoration: underline;
    color: #7d9398;
}

a.no_line {
    text-decoration: none;
}

a.invert {
    color: #b97941;
}

a.invert:hover {
    color: #7d9398;
}

a.invert:active {
    color: #7d9398;
}

h2 {
  font-size: 24px;
}

canvas[resize] {
  width: 100%;
  height: 100%;
}



/* Mouse scroll */

$colorBg: #b5ced5;
$colorOutline: #ffffff;
$colorOutlineFade: #b97941;

$widthMouse: 52px;
$heightMouse: 88px;
$borderMouse: 6px;

$posMouse: 8px;
$posText: 2px;

$sizeTrackball: 10px;
$posTrackball: 20px;
$shrinkTrackball: 0.4;

$animDuration: 8s;

.mpscroll {
  margin-top: 50px;
  text-indent: 12px;
  color: $colorOutline;
  animation:
    colorText $animDuration ease-out infinite,
    nudgeText $animDuration ease-out infinite;
}

.mouse {
  background: transparent;
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: $widthMouse;
  height: $heightMouse;
  border-radius: 100px;
  background-size: 100% 200%;
  animation:
    colorSlide $animDuration linear infinite,
    nudgeMouse $animDuration ease-out infinite;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
  }
  &:before {
    width: $widthMouse - $borderMouse;
    height: $heightMouse - $borderMouse;
    background-color: $colorBg;
    border-radius: 100px;
  }
  &:after {
    background-color: $colorOutline;
    width: $sizeTrackball;
    height: $sizeTrackball;
    border-radius: 100%;
    animation: trackBallSlide $animDuration linear infinite;
  }
}

@keyframes colorSlide {
  0% { background-position: 0% 100%; }
  20% { background-position: 0% 0%; }
  21% { background-color: $colorOutlineFade; }
  29.99% {
    background-color: $colorOutline;
    background-position: 0% 0%;
  }
  30% {
    background-color: $colorOutlineFade;
    background-position: 0% 100%;
  }
  50% { background-position: 0% 0%; }
  51% { background-color: $colorOutlineFade; }
  59% {
    background-color: $colorOutline;
    background-position: 0% 0%;
  }
  60% {
    background-color: $colorOutlineFade;
    background-position: 0% 100%;
  }
  80% { background-position: 0% 0%; }
  81% { background-color: $colorOutlineFade; }
  90%, 100% { background-color: $colorOutline; }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  14% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  15%, 19% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  44% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  45%, 49% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  74% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  75%, 79% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
}

@keyframes nudgeMouse {
  0% { transform: translateY(0); }
  20% { transform: translateY($posMouse); }
  30% { transform: translateY(0); }
  50% { transform: translateY($posMouse); }
  60% { transform: translateY(0); }
  80% { transform: translateY($posMouse); }
  90% { transform: translateY(0); }
}

@keyframes nudgeText {
  0% { transform: translateY(0); }
  20% { transform: translateY($posText); }
  30% { transform: translateY(0); }
  50% { transform: translateY($posText); }
  60% { transform: translateY(0); }
  80% { transform: translateY($posText); }
  90% { transform: translateY(0); }
}

@keyframes colorText {
  21% { color: $colorOutlineFade; }
  30% { color: $colorOutline; }
  51% { color: $colorOutlineFade; }
  60% { color: $colorOutline; }
  81% { color: $colorOutlineFade; }
  90% { color: $colorOutline; }
}

/* NAVIGATION */
.nav {
  position: fixed;
  width: 336px;
  bottom: 0;
  left: 50%;
  margin-left: -164px;
  padding: 0;
  display: none;
}

.jump{
  display: inline;
  margin: 10px;
}

.jump img {
  height: 26px;
}

.prevjump img {
  height: 18px;
  margin: 5px;
  margin-right: 15px;
}

.nextjump img {
  height: 18px;
  margin: 5px;
  margin-left: 15px;
}

.selectedch path{
  fill: red;
}

